
  /* latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v9/APH4jr0uSos5wiut5cpjrhampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body {
  background-color: #F7DDDF;
  background-image: url("image/source.gif");
}

.parent{
	height:60vh;
	width:100vw;
	display:flex;
	justify-content: center;
}
 .header{
 	display:inline-block;
      color: #fff;
      font-size: 50px;
      margin-top:30vh;
      font-weight: 300;
      font-family: 'Varela Round';
    }

 .piz{
    color: #fff;
      font-size: 50px;
      font-weight: 300;
      margin-top:30vh;
      font-family: 'Varela Round';
      right:30vw;
    }

.header2{
	color:#D66371;
	display: flex;
	font-size: 25px;
      font-weight: 100;
      font-family: 'Varela Round';
	justify-content: center;
}

#verse1{
	display:inline-block;
      color: #D66371;
      font-size: 15px;
      margin-left: 10vw;
      margin-top:5vh;
      font-weight: 100;
      font-family: 'Varela Round';
    }

#verse2{
	display:inline-block;
      color: #D66371;
      font-size: 15px;
      margin-left: 25vw;
      font-weight: 100;
      font-family: 'Varela Round';
    }

.q1{
	font-style: italic;
	color:#fff;
}

.q2{
	font-style: italic;
		color:#fff;
}

.img1{
	width:500px;
	height:600px;
	margin-left: 15vw;
	margin-top: -20vh;
}

.img2{
	margin-left: 40vw;
	margin-top: -15vh;
}
.verse3{
	display:inline-block;
      color: #D66371;
      font-size: 15px;
      margin-left: 10vw;
      font-weight: 100;
      font-family: 'Varela Round';
    }
.img3{
	width:500px;
	height:600px;
	margin-left: 44vw;
	margin-top: -10vh;
}

.outro{
	display:inline-block;
      color: #D66371;
      font-size: 15px;
      margin-left: 15vw;
      margin-top: -40vh;
      font-weight: 100;
      font-family: 'Varela Round';
    }
 .part{
 	color:#fff;
 	font-style: italic;
 }

 .img4{
    display: inline-block;
    background-size:contain;
	width:250px;
	height:250px;
	margin-left: 47vw;  
	transition: .5s ease;
    backface-visibility: hidden;
}

    .img4:hover{
    opacity: 0.3;

}